<h1>Войти как зарегистрированный пользователь</h1>

<%= form_tag sessions_path, :class => "form-horizontal" do %>

  <div class="control-group">
    <%= label_tag :email, "Эл.адрес", :class => "control-label" %>
    <div class="controls">
      <%= email_field_tag :email, params[:email] %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :password, "Пароль", :class => "control-label" %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag("Log in", :class => 'btn btn-primary')  %>
    or
    <%= link_to "Sign up", new_user_path, :class => 'btn' %>
  </div>

<% end %>
