<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email, "Email", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "Email" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :fullname, "User fulllname", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :fullname, :placeholder => "User fullname" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, "Password", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :password, :placeholder => "Password" %>
    </div>
  </div> 
  
  <div class="control-group">
    <%= f.label :password_confirmation, "Password confirmation", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :password_confirmation, :placeholder => "Password confirmation" %>
    </div>
  </div> 
  
  <div class="form-actions">
    <%= link_to "Cancel", :root, :class => 'btn' %>
    or 
    <%= submit_tag "Save", :class => 'btn btn-primary' %>
  </div>
<% end %>
