<%= form_tag @event, :method => @method %>

<% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :event_title, "Title" %>
    <%= text_field_tag :event_title, @event.title %>
  </div>
  <div class="field">
    <%= label_tag :event_date %>
    <%= text_field_tag :event_date, @begin_date, :class => 'date' %>
  </div>
  
  <%= check_box_tag "recurring_event", nil, @event.recurring %>
  <%= label_tag "recurring_event", "Repeat this event" %>

  <div class="period">
    <%= radio_button_tag 'period', 'day', @event.period == 'day' %>
    <%= label_tag "period_day", "every day" %>
    <%= radio_button_tag 'period', 'week', @event.period == 'week' %>
    <%= label_tag "period_week", "every week" %>
    <%= radio_button_tag 'period', 'month', @event.period == 'month' %>
    <%= label_tag "period_month", "every month" %>
    <%= radio_button_tag 'period', 'year', @event.period == 'year' %>
    <%= label_tag "period_year", "every year" %>

    <div class="field">
      <%= label_tag :event_end_date %>
      <%= text_field_tag :event_end_date, @end_date, :class => 'date' %>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
