<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
    <ul>
      <% @events_by_date[date].each do |event| %>
        <li <%= 'class=not_current_user' if not current_user == event.user %> >
          <%= link_to event.title, edit_event_path(event) %>
        </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>
<br>
<%= check_box_tag "current_user_events" %>
<%= label_tag "current_user_events", "Show only my events" , :class => "checkbox inline" %>
<br>
<br>
<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary btn-large' %>
